.loaderparent {
  height: 100%;
  width: 100%;
  align-items: center;
}
.loader {
  margin-left: 45%;
  margin-top: 15%;
  border: 7px solid #f3f3f3;
  border-top: 7px solid gray;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  align-items: center;
}
.categoryloader {
  border: gray;
  width: 15%;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  background: white;
}
.categoryloader2 {
  margin-left: 45%;
  margin-top: 10px;
  border: 7px solid #f3f3f3;
  border-top: 7px solid gray;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: spin 2s linear infinite;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
